.container
  #top
    .dis_day Friday
    .dis_date Feb 17
    .dis_temp 54F
  #bottom
    #title_latest Latest
    %article
      #article_image
      .dis_title Lorem ipsum dolor sit
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et turpis odio.  